In [1]:
import pandas as pd 
import numpy as np

%matplotlib inline

import matplotlib as mpl 
import matplotlib.pyplot as plt

import seaborn as sns

import plotly
import plotly.graph_objects as go

In [2]:
country_list = ['Germany', 'India', 'United States']
# Importing the data for the world population

wp = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')
wp.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [12]:
#wp = wp.rename(columns = {'Country_Region':'Country'}
#Converting the date to string using 'datetime'.
wp['date'] = pd.to_datetime(wp['date'])
pivot = pd.pivot_table(data = wp,
                                  index = 'date',
                                  columns = 'location',
                                  values = 'total_cases',)

piot = pivot.fillna(0)

In [13]:
pivot= pivot.replace(np.nan,0)

pivot.reset_index(inplace = True)

pivot.head()

location,date,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,World,Yemen,Zambia,Zimbabwe
0,2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,557.0,0.0,0.0,0.0
1,2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,657.0,0.0,0.0,0.0
2,2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,944.0,0.0,0.0,0.0
3,2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,1437.0,0.0,0.0,0.0
4,2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,2120.0,0.0,0.0,0.0

In [14]:
time_idx= pivot["date"]

In [15]:
df_plot = pd.DataFrame({'Date': time_idx})
df_plot.head()

        Date
0 2020-01-22
1 2020-01-23
2 2020-01-24
3 2020-01-25
4 2020-01-26

In [34]:
country_list = ['Germany', 'India', 'United States']
# for each in country_list:
#     df_plot[each]=np.array(wp[wp['location']==each]iloc[:].sum(axis=0))

for each in country_list:
    df_plot[each] = pivot[each]
    var = np.array(wp.loc[wp["location"]])
    df_plot[each] = df_plot[each]/var[0]*100 
    
df_plot.head()

KeyError: "None of [Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',\n       'Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',\n       'Afghanistan', 'Afghanistan',\n       ...\n       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe',\n       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],\n      dtype='object', length=196316)] are in the [index]"